// Wraps
$main-width: 1170;

// Colours
$white: #ffffff;
$black: #000000;
$light_grey: #efeff4;
$medium_grey: #ceced2;
$dark_grey: #7b7c84;
$purple: #414cb7;
$green: #53d76a;
$red: #ff554d;
$light_blue: #5ac8fa;
$yellow: #fee94e;
$orange: #fb9638;
$olive: #cdd855;
$pink: #fd82c4;
