.footer-about {
  display: none;
  background-color: $green;
  position: relative;
  z-index: 100;
  color: $white;
  a {
    color: $white;
  }
  p {
    @include font-size(36);
    @media only screen and (max-width: 768px) {
      @include font-size(22);
    }
    &:last-child {
      margin-bottom: 0;
    }
    font-weight: bold;
  }
}

.site-footer {
  background-color: $green;
  padding: 43px 34px;
  color: $white;
  @media only screen and (max-width: 767px) {
    padding: 15px 0;
  }
  p {
    margin: 0;
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  a {
    color: $white;
    text-decoration: none;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: $white;
      visibility: visible;
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transition: all .3s ease-in-out 0s;
              transition: all .3s ease-in-out 0s;
    }
    &:hover {
      &:before {
        visibility: hidden;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
      }
    }
  }
  .scrolled & {
    z-index: 1;
  }
  [class*="col-"] {
    @media only screen and (max-width: 767px) {
      width: 100%;
      float: none;
    }
  }
}

// social-footer
.social-footer {
  margin: 15px -20px 0;
  padding: 0;
  padding-right: 12px;
  list-style: none;
  font-size: 0;
  text-align: right;
  @media only screen and (max-width: 767px) {
    margin-top: 30px;
    text-align: center;
  }
  &__list-item {
    display: inline-block;
    margin: 0 20px;
  }
  a {
    border-bottom: 0;
    &:before {
      display: none;
    }
  }
  .fa {
    @include font-size(28);
  }
}
