.site-logo {
  margin: 0;
  font-size: 0;
  display: inline-block;
  position: fixed;
  top: 43px;
  z-index: 10;
  margin-left: -2px;
  @media only screen and (max-width: 1200px) {
    left: 100px;
  }
  @media only screen and (max-width: 870px) {
    top: 29px;
    left: 62px;
  }
  a {
    @include font-size(24);
    color: $white;
    text-decoration: none;
  }
  .menu-open & {
    z-index: 9999;
  }
}
