// page-list
.page-list {
  .site-wrapper {
    margin-top: 0;
  }
}

// homepage
.page-home {
  .site-wrapper {
    margin-top: 556px;
    @media only screen and (max-width: 870px) {
      margin-top: 450px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 360px;
    }
    @media only screen and (max-width: 480px) {
      margin-top: 310px;
    }
  }
}
