.modal {
  opacity: 0;
  visibility: hidden;
  .list-complete & {
    opacity: 1;
    visibility: visible;
  }
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
