//default form styles
form {
  @extend %clearfix; // allows form to clear if submit button is floated.
}

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="color"],
input[type="email"],
textarea {
  border: none;
  -webkit-appearance: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  background: $light_blue;
  font-family: $mainFont;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $white;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $white;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $white;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $white;
  }
}

input {
  @include font-size(18);
  height: 50px;
  line-height: normal;
  padding: 0 15px;
  color: $white;
}

textarea {
  padding: 15px;
}

input[type="submit"] {
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  background-color: red;
  text-transform: uppercase;
  color: $white;
  @include font-size(16);
  cursor: pointer;
}

label {
  color: #808184;
  @include font-size(13);
  line-height: 20px;
  display: none;
  font-family: $mainFont;
}
