.nav-toggle-outer {
  position: fixed;
  padding: 20px 20px 16px 20px;
  background-color: $purple;
  top: 42px;
  cursor: pointer;
  z-index: 999;
  @include transition(all ease-in-out .14s 0s);
  margin-left: -80px;
  .menu-open & {
    background-color: $red;
    z-index: 9999;
  }
  @media only screen and (max-width: 1200px) {
    left: 12px;
    margin-left: 0;
    padding: 0;
    z-index: 10;
  }
  @media only screen and (max-width: 870px) {
    top: 27px;
  }
}

.nav-toggle {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 24px;
  height: 18px;
  .bars {
    width: 24px;
    height: 18px;
    position: relative;
    transition: transform .3s cubic-bezier(.694, .048, .335, 1.000);
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;
      margin-top: 4px;
      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform .2s cubic-bezier(.694, .048, .335, 1.000);
        transition-delay: .4s;
      }
      &:nth-child(3) {
        width: 100%;
        transition: width .2s cubic-bezier(.694, .048, .335, 1.000);
        transition-delay: .4s;
      }
      &:nth-child(4) {
        width: 65%;
        transition: width .2s cubic-bezier(.694, .048, .335, 1.000);
        transition-delay: .4s;
      }
    }
    .other-bar {
      width: 2px;
      height: 0;
      background-color: $white;
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -1px;
      transition: height .4s cubic-bezier(.694, .048, .335, 1.000);
      z-index: 10;
    }
  }
  .nav-toggle-outer.active & {
    .bars {
      transform: rotate(45deg);
      transition-delay: .4s;
      span {
        &:first-child {
          transform: scaleX(0);
          transition: transform .2s cubic-bezier(.694, .048, .335, 1.000);
        }
        &:nth-child(3) {
          width: 0;
          transition: width .2s cubic-bezier(.694, .048, .335, 1.000);
        }
        &:nth-child(4) {
          width: 0;
          transition: width .2s cubic-bezier(.694, .048, .335, 1.000);
        }
      }
      .other-bar {
        height: 25px;
        transition: height .2s cubic-bezier(.694, .048, .335, 1.000);
        transition-delay: .3s;
      }
    }
  }
}

.overlay-nav {
  background-color: #ff554c;
  z-index: 999;
  position: fixed;
  @include opacity(0);
  visibility: hidden;
  top: 0;
  right: 0;
  height: 100%;
  height: 100vh;
  left: 0;
  @include transition(all ease-in-out .14s 0s);
  .menu-open & {
    @include opacity(1);
    visibility: visible;
  }
}

.main-navigation {
  text-align: left;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %clearfix;
  }
  li {
    margin-bottom: 20px;
    width: 50%;
    float: left;
    @media only screen and (max-width: 991px) {
      width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @include font-size(64);
    font-weight: 800;
    color: $white;
    text-transform: capitalize;
    text-decoration: none;
    &:hover {
      color: $yellow;
    }
    @media only screen and (max-width: 991px) {
      @include font-size(36);
    }
  }
}

// main nav highlighting
.nav-ref-manchester {
  .main-navigation {
    li:nth-child(1) {
      a {
        color: $yellow;
      }
    }
  }
}

.nav-ref-new-york {
  .main-navigation {
    li:nth-child(2) {
      a {
        color: $yellow;
      }
    }
  }
}

.nav-ref-glasgow {
  .main-navigation {
    li:nth-child(3) {
      a {
        color: $yellow;
      }
    }
  }
}

.nav-ref-berlin {
  .main-navigation {
    li:nth-child(4) {
      a {
        color: $yellow;
      }
    }
  }
}

.nav-ref-austin {
  .main-navigation {
    li:nth-child(5) {
      a {
        color: $yellow;
      }
    }
  }
}

.nav-ref-singapore {
  .main-navigation {
    li:nth-child(6) {
      a {
        color: $yellow;
      }
    }
  }
}
