.about-block {
  background-color: $light_grey;
  &.section-padding {
    padding-top: 0;
    padding-bottom: 224px;
    @media only screen and (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 144px;
    }
  }
}
