.btn {
  @include font-size(18);
  padding: 15px 20px;
  background-color: $light-blue;
  text-decoration: none;
  color: $white;
  border-radius: 40px;
  font-weight: bold;
  display: inline-block;
}
