.choose-a-city-block {
  color: $white;
  background-color: $medium_grey;
  padding-bottom: 90px;
  @media only screen and (max-width: 767px) {
     > .container {
      padding: 0;
    }
    padding-bottom: 20px;
  }
  a {
    color: $white;
  }
  &__slider {
    margin: -100px -15px 0;
    @media only screen and (max-width: 767px) {
      margin-left: 0;
      margin-right: 0;
    }
    padding: 8px 0 0;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__slide {
    &:first-child {
      @media only screen and (max-width: 767px) {
        margin-left: 20px;
      }
    }
    &:last-child {
      @media only screen and (max-width: 767px) {
        margin-right: 20px;
      }
    }
    margin: 0 15px 30px;
    @include inline-block;
  }
}
