.city-block {
  position: relative;
  max-width: 170px;
  min-width: 144px;
  @include transition(all ease-in-out .1s);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .2);
  -webkit-backface-visibility: hidden;
      -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
          transform: translateZ(0);
  a {
    color: $black;
  }
  &:hover {
    transform: scale(1.05);
    .page-list & {
      transform: scale(1);
    }
  }
  &__title {
    font-weight: 300;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    @include font-size(24);
  }
}
