.contact-block {
  padding: 15px 0;
  color: $white;
  background-color: $purple;
  @media only screen and (max-width: 767px) {
    padding: 15px 0 20px;
  }
  p {
    line-height: 50px;
    margin: 0;
    @include font-size(18);
    @media only screen and (max-width: 767px) {
      line-height: normal;
      margin-bottom: 20px;
    }
  }
  #mc-embedded-subscribe-form {
    position: relative;
  }
  input[type="email"],
  input[type="text"] {
    padding-right: 50px;
    outline: none;
  }
  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 2px;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: $light_blue;
    background-image: url("img/btn-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
  }
  .form-message {
    display: none;
  }
}
