.intro {
  background-color: $purple;
  position: fixed;
  top: 8px;
  &.section-padding {
    padding-bottom: 100px;
  }
  @media only screen and (max-width: 768px) {
    top: 3px;
    &.section-padding {
      padding-top: 100px;
      padding-bottom: 40px;
    }
  }
  left: 0;
  right: 0;
  @include transition(all ease 1s);
  h2 {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    @include transition(all ease .3s);
    // animation
    &.fade-in-up {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
    margin: 24px 0;
    color: $white;
    @include font-size(80);
    @media only screen and (max-width: 870px) {
      @include font-size(50);
      line-height: 70px;
      margin: 0;
    }
    @media only screen and (max-width: 480px) {
      @include font-size(44);
      line-height: 55px;
    }
    line-height: 80px;
    &:nth-child(2) {
      color: $light-blue;
    }
    &:nth-child(3) {
      @include inline-block;
      margin: 0;
      color: $yellow;
      font-weight: 700;
      position: relative;
      overflow: hidden;
      span {
        position: absolute;
        top: 50%;
        right: 0;
        left: 100%;
        &.strike-through {
          left: 0;
        }
        margin-top: 7px;
        @include inline-block;
        width: 100%;
        height: 4px;
        background: $light_blue;
        @include transition(all ease-in-out .3s);
        @media only screen and (max-width: 870px) {
          margin-top: 5px;
        }
        @media only screen and (max-width: 480px) {
          margin-top: 2px;
        }
      }
    }
  }
  &.color-light-blue {
    background-color: $light_blue;
    h2 {
      &:nth-child(2) {
        color: $purple;
      }
      &:nth-child(3) span {
        background-color: $purple;
      }
    }
  }
  &.color-yellow {
    background-color: $yellow;
    h2 {
      color: $light_blue;
    }
    h2:nth-child(2) {
      color: $purple;
    }
    h2:nth-child(3) {
      color: $white;
    }
  }
  &.color-orange {
    background-color: $orange;
  }
  &.color-olive {
    background-color: $olive;
  }
  &.color-green {
    background-color: $green;
    h2:nth-child(3) span {
      background-color: $purple;
    }
  }
  &.color-red {
    background-color: $red;
  }
  &.color-pink {
    background-color: $pink;
  }
  &.color-dark-grey {
    background-color: $dark_grey;
  }
  &.color-white {
    background-color: $white;
    h2 {
      color: $light-blue;
    }
    h2:nth-child(2) {
      color: $purple;
    }
    h2:nth-child(3) {
      color: $yellow;
    }
  }
  &.color-purple {
    background-color: $purple;
  }
}
