.list-complete {
  &__title {
    @include font-size(68);
    color: $yellow;
    margin: 0;
    @media only screen and (max-width: 680px) {
      @include font-size(40);
      line-height: 46px;
    }
  }
  &__copy {
    @include font-size(36);
    font-weight: bold;
    color: $white;
    margin: 20px 0 100px;
    max-width: 500px;
    @media only screen and (max-width: 680px) {
      @include font-size(24);
      line-height: 30px;
      margin-bottom: 50px;
      max-width: 350px;
    }
  }
  .close {
    cursor: pointer;
    color: $white;
    @include font-size(24);
    padding: 25px 70px;
    @media only screen and (max-width: 680px) {
      padding: 12px 35px;
      @include font-size(20);
    }
  }
  .modal-content {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  // alt versions
  &--manchester {
    background-color: transparent;
    background-image: url("img/manchester.svg");
    background-position: center center;
    background-size: cover;
  }
  &--glasgow {
    background-color: transparent;
    background-image: url("img/glasgow.svg");
    background-position: center center;
    background-size: cover;
    .list-complete__copy {
      color: $pink;
    }
    .btn {
      background-color: $orange;
    }
  }
  &--new-york {
    background-color: transparent;
    background-image: url("img/new-york.svg");
    background-position: center center;
    background-size: cover;
    .list-complete__title {
      color: #ff554d;
    }
    .list-complete__copy {
      color: $light_blue;
    }
    .btn {
      background-color: $green;
    }
  }
  &--austin {
    background-color: transparent;
    background-image: url("img/austin.svg");
    background-position: center center;
    background-size: cover;
  }
  &--berlin {
    background-color: transparent;
    background-image: url("img/berlin.svg");
    background-position: center center;
    background-size: cover;
    background-size: 200%;
    .list-complete__title {
      color: $purple;
    }
    .list-complete__copy {
      color: $white;
      text-shadow: 2px 2px 10px rgba(0,0,0,.5);
    }
  }
  &--singapore {
    background-color: transparent;
    background-image: url("img/singapore.svg");
    background-position: center center;
    background-size: cover;
    background-size: 100%;
    .list-complete__title {
      color: $purple;
    }
    .list-complete__copy {
      color: $white;
      text-shadow: 2px 2px 10px rgba(0,0,0,.5);
    }
  }
}
