.list-block {
  background-color: $light_grey;
  padding: 0 0 50px;
  margin-top: 200px;
  position: relative;
  @media only screen and (max-width: 991px) {
    padding-top: 37px;
  }
  @media only screen and (max-width: 870px) {
    margin-top: 160px;
  }
  @media only screen and (max-width: 600px) {
     > .container {
      padding-right: 0;
    }
  }
  .city-block {
    cursor: pointer;
    float: left;
    position: relative;
    top: -80px;
    @media only screen and (max-width: 991px) {
      position: absolute;
      top: -56px;
      height: 56px;
      overflow: hidden;
      box-shadow: none;
    }
    &__title {
      @media only screen and (max-width: 991px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__title {
    @include inline-block;
    color: $orange;
    @include font-size(40);
    @media only screen and (max-width: 600px) {
      @include font-size(24);
      margin-top: 8px;
    }
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    line-height: normal;
    max-width: 82%;
    @include transition(all ease-in-out .3s);
    &:hover {
      color: darken($orange, 10%);
    }
  }
  &__description {
    display: none;
    @include transition(color ease-in-out .3s);
    color: #808080;
    @include font-size(20);
    padding-right: 18%;
    margin: 0;
  }
  &__list {
    list-style: none;
    margin: 80px 0 0;
    padding: 0;
    float: right;
    width: 80%;
    @media only screen and (max-width: 991px) {
      width: 100%;
      margin: 0;
    }
  }
  &__list-item {
    padding-left: 80px;
    margin-bottom: 22px;
    padding-bottom: 22px;
    position: relative;
    border-bottom: 1px solid #ceced2;
    @media only screen and (max-width: 768px) {
      padding-left: 50px;
    }
    @media only screen and (max-width: 600px) {
      padding-left: 40px;
    }
    &.active {
      color: gainsboro;
      input[type=checkbox] + label {
        background-image: url("img/tick.jpg");
        background-position: center center;
        background-size: 65%;
        background-repeat: no-repeat;
      }
      .list-block__title {
        color: #ceced2;
      }
      .list-block__description {
        color: #ceced2;
      }
    }
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + label {
    position: absolute;
    top: 0;
    left: 15px;
    @media only screen and (max-width: 768px) {
      left: 0;
    }
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    cursor: pointer;
    border: 1px solid gainsboro;
    border-radius: 2px;
  }
  &__map-marker {
    position: absolute;
    top: 10px;
    right: 15px;
    @media only screen and (max-width: 768px) {
      right: 20px;
    }
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/ico-map.svg");
    .no-svg & {
      background-image: url("img/ico-map.png");
    }
  }
  &__meta {
    clear: both;
    float: left;
    padding-right: 20px;
    margin: 28px 0 0;
  }
  &__meta-image {
    border-radius: 100%;
    @include inline-block;
    margin-right: 10px;
    max-width: 64px;
  }
  &__meta-title {
    @include inline-block;
    @include font-size(20);
    font-weight: normal;
    color: #808080;
  }
  .pagination {
    @media only screen and (max-width: 1150px) {
      display: none;
    }
  }
}

// list block accordion open first
.list-block__list-item:nth-child(1) {
  .list-block__description {
    display: block;
  }
}
