.pagination {
  .pagination__prev,
  .pagination__next {
    position: fixed;
    width: 24px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    &:hover {
      .city-block {
        @include opacity(1);
        visibility: visible;
      }
    }
  }
  .pagination__prev {
    left: 20px;
    background-image: url("img/arrow-prev.svg");
    .city-block {
      transform: rotate(-90deg);
      left: -105px;
    }
    &:hover {
      .city-block {
        left: -45px;
        transform: rotate(-90deg);
      }
    }
  }
  .pagination__next {
    right: 20px;
    background-image: url("img/arrow-next.svg");
    .city-block {
      right: -105px;
    }
    &:hover {
      .city-block {
        right: -45px;
      }
    }
  }
  .city-block {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1), 0 4px 10px 0 rgba(0, 0, 0, .1);
    transform: rotate(90deg);
    transform-origin: bottom center;
    overflow: hidden;
    transition: none;
    @include transition(all ease-in-out .3s);
    @include opacity(0);
    visibility: hidden;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 168px;
    height: 60px;
    &:hover {
      transform: rotate(90deg);
    }
    &__title {
      top: 12px;
    }
  }
}
