.phone-vid {
  position: relative;
  width: 265px;
  margin: -100px auto 0;
  @media only screen and (max-width: 767px) {
    margin-top: 35px;
  }
  &__video {
    position: absolute;
    top: 47px;
    left: 30px;
    width: 204px;
    border: 1px solid #e8e8e8;
  }
}
