.phone-block {
  margin-top: 60px;
  margin-left: 50px;
  @media only screen and (max-width: 767px) {
    margin: 0;
  }
  &__image {
    display: block;
    margin: 0 auto;
  }
  &__title {
    @include font-size(36);
    color: $purple;
    line-height: 36px;
    margin: 0;
    @media only screen and (max-width: 767px) {
      @include font-size(28);
      line-height: 34px;
      margin-bottom: 10px;
    }
  }
  &__copy {
    color: $orange;
    @include font-size(24);
    @media only screen and (max-width: 767px) {
      margin-top: 0;
      @include font-size(20);
      line-height: normal;
    }
  }
}
