.quote {
  background-image: url("img/quotemarks.svg");
  background-repeat: no-repeat;
  padding-left: 150px;
  padding-top: 130px;
  margin-left: 50px;
  @media only screen and (max-width: 767px) {
    margin: 40px 0 0;
    padding: 0 0 0 60px;
    background-size: 50px;
  }
  &__quote {
    display: block;
    @include font-size(40);
    line-height: 48px;
    color: $light_blue;
    font-weight: bold;
    margin-bottom: 5px;
    @media only screen and (max-width: 767px) {
      @include font-size(28);
      line-height: 32px;
    }
  }
  &__person {
    display: block;
    @include font-size(18);
    color: $pink;
  }
}
